.App {
  text-align: center;
}
body {
  background-color: #293264;
  padding-top: 10px;
}
main {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: #293264;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.title {
  font-size: 40px;
  font-weight: bolder;
}

label {
  font-size: larger;
  font-weight: 600;
}

select {
  margin-bottom: 5px;
  border-radius: 20px;
  color: #293264;
  border-color: #293264;
  font-size: large;
  font-weight: 500;
  text-align-last: center;
  width: max-content;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.btn-start {
  margin: 10px;
  width: 150px;
  height: 45px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #293264;
  color: lightblue;
  font-size: large;
  font-weight: bolder;
}

.leaderboard {
  margin: 20px;
  width: auto;
  height: 150px;
}

.question {
  font-size: large;
  font-weight: bolder;
}

.btn-answer {
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  color: #293264;
  border-color: #293264;
  font-weight: bolder;
}

.btn-answer-selected {
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #293264;
  color: lightblue;
  font-weight: bolder;
}

.btn-answer-correct {
  background-color: lightgreen;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  color: #293264;
  font-weight: bolder;
}

.btn-answer-incorrect {
  background-color: lightcoral;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  color: #293264;
  font-weight: bolder;
}

.btn-check-answer {
  padding: 10px;
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  background-color: #293264;
  color: lightblue;
  font-size: large;
  font-weight: bolder;
}

.question {
  vertical-align: middle;
  display: inline-block;
}

.leaderboardInput {
  margin-bottom: 20px;
}

.errorMessage {
  color: red;
}
